<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3>送信が完了しました</h3>

      <p>内容は以下の通りです。</p>

      <h4>[タイトル]</h4>
      <p><%= @title %></p>

      <h4>[本文]</h4>
      <p><%= @body %></p>
    </div>
  </div>
</div>